@import "../../styles/mixins/mixin.scss";
.faq {
  width: 100%;
  height: 500px;
  margin-top: 40px;
  .faq-questions {
    width: 89%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      @include h2;
      margin-bottom: 30px;
    }
    .question-answer{
        width: 100%;
    }
    .question-tag{
        width: 100%;
        height: 50px;
        background-color: rgb(220, 206, 206);
        box-shadow:  20px 20px 60px #9d9d9d,
             -20px -20px 60px #ffffff;
             display: flex;
             justify-content: space-between;
             align-items: center;
             border-radius: 18px;
             padding: 10px;
             margin-bottom: 20px;
             text-align: center;
    }
    .answers{
        margin-bottom: 10px;
    }
  }
}
